.vue-query-builder-styled .vqb-group .rule-actions{margin-bottom:20px}.vue-query-builder-styled .vqb-rule{margin-top:15px;margin-bottom:15px;background-color:#f5f5f5;border-color:#ddd;padding:15px}.vue-query-builder-styled .vqb-rule label{margin-right:10px}.vue-query-builder-styled .vqb-group.depth-1 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-2{border-left:2px solid #8bc34a}.vue-query-builder-styled .vqb-group.depth-2 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-3{border-left:2px solid #00bcd4}.vue-query-builder-styled .vqb-group.depth-3 .vqb-rule,.vue-query-builder-styled .vqb-group.depth-4{border-left:2px solid #ff5722}.vue-query-builder-styled .close{opacity:1;color:#969696}@media (min-width:768px){.vue-query-builder-styled .vqb-rule.form-inline .form-group{display:block}}

.VueTables__date-filter {
    border: 1px solid #ccc;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.VueTables__limit-field {
    color: #1e80ed;
}

.VueTables__heading {
    font-size: 12px;
}

.VueTables__sort-icon {
    font-size: 10px;
}

table td {
    font-size: 11px;
}

.VuePagination__pagination-item, .VuePagination__count {
    font-size: 11px !important;
}

.btnTop {
    margin-top: 12px;
}

.socialBox {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.textSocial {
    resize: none;
    border: 1px solid #a5a5a5;
    background: #444;
    color: #eee;
    outline: none;
    font-size: 14px;
    height: 120px;
    padding: 15px;
    margin: 0px 30px 0px 20px;
}

.textSocial:focus, .textSocial:hover {
    outline: none;
}

.mainBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.dataBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-top: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff;
}

.dataBox th {
    font-size: 12px;
}

.dbHead {
    font-weight: 600;
    display: flex;
    font-size: 14px;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .mainBox {
        flex-direction: column;
    }

    .socialBox {
        width: 100%;
        margin-top: 20px;
    }

    .dataBox {
        width: 100%;
        margin: 5px 0px 25px 0px;
    }
}

.highlightText {
    color: #FF9900;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 15px;
}

.other {
    color: #eee;
}

.downloadBtn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.downBtn {
    margin-right: 25px !important;
}

#social {
    display: flex;
    flex-direction: column;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.form-control {
    padding: 4px 15px 5px 5px !important;
    border-radius: 1px !important;
    margin: 0px 5px;
    height: 30px !important;
    font-size: 12px !important;
}

#query {
    margin-top: 20px;
}

.panel-body {
    padding: 18px 30px !important;
}

.vue-query-builder-styled .vqb-rule label {
    font-size: 12px !important;
}

label {
    margin-bottom: 0px !important;
    font-size: 13px;
    margin-right: 8px;
}

.VueTables__filters-row input {
    margin: 0px;
    font-size: 12px !important;
    font-weight: 200;
}

.panel {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 0px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 1px !important;
}

.vue-query-builder-styled .close {
    color: #FC2F2F !important;
}

.close:focus, .close:hover {
    outline: none;
}

.vue-query-builder-styled .vqb-group .rule-actions {
    padding: 3px 0px;
}

.form-group .btn-default {
    background-color: #fff !important;
    color: #1e80ed !important;
    border: 1px solid #1e80ed !important;
    height: 30px !important;
    padding: 5px 10px !important;
    margin: 0px 5px;
    font-size: 11px !important;
    border-radius: 1px !important;
}

.btn-default.focus, .btn-default:focus, .buttonGenerate.focus, .buttonGenerate:focus {
    outline: none !important;
}

.btn-default:hover {
    background-color: #fff !important;
}

.panel-default>.panel-heading {
    background-color: #fafafa !important;
}

.form-inline .form-control {
    text-transform: capitalize;
}

.vue-query-builder-styled .vqb-rule {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background-color: #fafafa !important;
}

.panel-heading {
    padding: 15px !important;
}

.depth-1 {
    border-left: 2px solid #1e80ed !important;
}

.vue-query-builder-styled .vqb-group.depth-1 .vqb-rule, .vue-query-builder-styled .vqb-group.depth-2 {
    border-left: 2px solid #1ba94c !important;
}

.vue-query-builder-styled .vqb-group.depth-2 .vqb-rule, .vue-query-builder-styled .vqb-group.depth-3 {
    border-left: 2px solid #1e80ed !important;
}

.vue-query-builder-styled .vqb-rule {
    padding: 17px !important;
}

.match-type-container {
    display: flex;
    align-items: center;
}

.form-group {
    flex: 1;
}

.btnGen {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
}

.buttonGenerate {
    background-color: #1ba94c;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    margin-top: 0px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonGenerateDef {
    background-color: #1ba94c;
    color: #fff;
    border: 2px solid #1ba94c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.buttonGenerateDef:hover {
    background-color: #fff;
    color: #1ba94c;
}

.v--modal-overlay .v--modal-box {
    height: 80% !important;
    top: 10% !important;
    width: 80% !important;
    left: 10% !important;
    overflow-y: scroll !important;
}

pre {
    border-radius: 0px !important;
    padding: 10px !important;
    font-size: 12px;
    background: #fafafa !important;
}

.modalCloseDiv {
    display: flex;
    justify-content: center;
    padding: 4px 0px 15px 0px;
}

.modalClose {
    font-size: 12px;
    border-radius: 1px;
    padding: 5px 10px;
}

.queryBtn {
    margin-right: 8px !important;
}

.qHead {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #1e80ed;
    text-align: center;
}

.vue-slide-bar-tooltip {
    border: 1px solid #1e80ed !important;
    background-color: #1e80ed !important;
}

.vue-slide-bar-process {
    background-color: #1e80ed !important;
}

.pQuery {
    color: #1e80ed;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.pSaved {
    margin-bottom: 5px;
}

.tableEntry {
    width: 100px;
    color: #FF5144;
    font-weight: 600;
}

.about {
    text-align: justify;
}

.about b {
    color: #1e80ed;
}

.about p {
    font-size: 13px;
    margin-top: 10px;
}

.qHeadAbout {
    margin-bottom: 25px;
    font-size: 19px !important;
    font-weight: 600;
    color: #1e80ed;
    text-align: center;
}